* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.Dropdowns {
    margin: 0 240px;
}

.Dropdowns_sub {
    color: #525f7f;
    font-size: 16px;
    font-family: Open Sans, sans-serif;
    padding: 20px;
    width: 100%;
    background-color: #f5f7f9;
    border-radius: 5px;
}