.main {
    margin-top: 20px;
}

body::-webkit-scrollbar {
    width: 8px;
    border-radius: 50px;
}

body::-webkit-scrollbar-thumb {
    background: var(--background-orange);
}

.main_item>.col,
.main_middle {
    position: relative;
}

.main_item>.col {
    padding: 0 4px;
}

.main_item span,
.main_middle span {
    position: absolute;
    top: 10px;
    left: 25px;
    white-space: nowrap;
    font-size: 14px;
    font-weight: 500;
    color: #fff;
    padding: 5px 6px;
    border-radius: 5px;
    background-color: #000;
    transition: all .4s;
    z-index: 3;
    background: var(--background-orange);
}

.main_item>.col:last-child span {
    background: var(--background-green);
}

.main_item h3,
.main_item-concept {
    position: absolute;
    bottom: 10px;
    left: 25px;
    max-width: 265px;
    color: var(--color-white);
}

.main_item-concept {
    max-width: 100%;
}

.main_item img {
    height: 191px;
    width: 100%;
}

.main_right .main_item>.col:first-child span {
    background: var(--background-red);
}

.main_right .main_item>.col:last-child span {
    background: var(--background-purple);
}

.main_middle img {
    height: 100%;
    width: 100%;
    height: calc(191px + 191px);
    position: relative;
}

.main_middle span {
    background: var(--background-blue);
    animation: span_rev .5s ease forwards;
}

.main_item-concept h5 {
    display: block;
}

.main_middle>p {
    position: absolute;
    bottom: 0;
    color: var(--color-white);
    margin-left: 25px;
    max-width: 100%;
    bottom: 10px;
    opacity: 0;
    animation: paragrap_rev .5s ease forwards;
}

.main_middle::before {
    content: "";
    position: absolute;
    background: rgba(0, 0, 0, .75);
    top: 0;
    left: 0;
    bottom: 4px;
    right: 0;
    z-index: 2;
    opacity: 0;
}

.main_middle-boxShadow {
    position: absolute;
    width: 100%;
    opacity: 0;
    height: 80px;
    top: 0;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, .75));
}

.main_item-concept {
    animation: main_item-concept-rev .5s ease forwards;
}

.main_middle:hover .main_item-concept {
    animation: main_item-concept .5s ease forwards;
    z-index: 3;
}

@keyframes main_item-concept {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(-260px);
    }
}

@keyframes main_item-concept-rev {
    from {
        transform: translateY(-260px);
    }
    to {
        transform: translateY(0);
    }
}

.main_middle:hover span {
    animation: span .5s ease forwards;
    z-index: 3;
}

@keyframes span {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(120px);
    }
}

@keyframes span_rev {
    from {
        transform: translateY(120px);
    }
    to {
        transform: translateY(0);
    }
}

.main_middle:hover>p {
    animation: paragrap .5s ease forwards;
    z-index: 3;
}

@keyframes paragrap {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(-40%);
        opacity: 1;
    }
}

@keyframes paragrap_rev {
    from {
        transform: translateY(-35%);
        opacity: 1;
    }
    to {
        transform: translateY(0);
    }
}

.main_middle:hover .main_middle-boxShadow {
    animation: main_middle-boxShadow .5s ease forwards;
}

.main_middle:hover::before {
    opacity: 1;
}

@keyframes main_middle-boxShadow {
    from {
        top: 0px;
    }
    to {
        top: calc(191px + 191px - 80px);
        opacity: 1;
    }
}

.main_time {
    padding: 0 4px;
}

.main_calendar {
    background: var(--color-white);
    padding: 20px 15px 15px 20px;
    box-shadow: 0 0 5px 0 rgb(0 0 0 / 20%);
    border-radius: 5px;
    margin-top: 10px;
    width: 100%;
}

.main_calendar>.row>.col:first-child {
    display: flex;
    justify-content: center;
}

.main_calendar-box {
    max-width: 120px;
    background-color: var(--background-orange);
    border-radius: 10px;
    text-align: center;
    color: var(--color-white);
    font-size: 14px;
    padding: 10px;
    font-weight: 500;
    padding: 10px;
    letter-spacing: -.5px;
    opacity: .7;
    align-items: center;
    display: flex;
    height: 58px;
}

.main_calendar-content {
    padding: 0;
    display: flex;
    flex-direction: column;
    align-self: center;
}

.main_calendar-item {
    display: inline-flex;
    text-decoration: none;
}

.main_calendar-item:hover>p {
    color: var(--background-orange);
}

.main_calendar-item>b {
    color: #00bf8f;
    margin-right: 5px;
}

@media (max-width:1239px) {
    .main_calendar-content {
        height: 58px;
        overflow-y: auto;
    }
    .main_calendar-content::-webkit-scrollbar {
        width: 4px;
        border-radius: 100px;
    }
    .main_calendar-content::-webkit-scrollbar-thumb {
        background: var(--background-orange);
    }
    .main_calendar-content>.row {
        display: flex;
        flex-direction: column;
    }
    .wide .col .main_calendar {
        display: block;
    }
}

@media (max-width:1023px) {
    .main_item>a {
        margin-bottom: 5px;
    }
    .main_calendar-content::-webkit-scrollbar {
        height: 4px;
    }
    body::-webkit-scrollbar {
        height: 8px;
    }
}

@media (max-width:739px) {
    .main {
        margin: 0 4px;
    }
    .main_item>a>img {
        height: 700px;
    }
}