* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
}

.mainGame {
    margin: 50px;
    height: 550px;
    position: relative;
    border: 1px solid black;
    background-image: url("./imgs/RC03.jpg");
    background-repeat: no-repeat;
    background-size: 100% 550px;
}

.setDanh {
    position: absolute;
    top: 50px;
    height: 300px;
    width: 300px;
}

.a img {
    height: 50.74px;
    width: 60px;
    margin: 100px 0px 0px 200px;
    /* border: 1px solid red; */
    /* filter: saturate(3); */
}

.nhacNen {
    position: absolute;
    bottom: 0px;
    left: 40%;
}

.danBay {
    position: absolute;
    height: 8px;
    width: 40px;
    z-index: 3000;
}

.roundNumber {
    position: absolute;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    top: 0px;
    color: #FFCC00;
    left: 47%;
}

.sung {
    position: absolute;
    z-index: 4000;
    height: 25px;
    width: 40.5px;
    top: 50px;
}

strong {
    position: absolute;
    top: 0px;
    left: 30%;
    color: yellow;
}

.sungGun {
    height: 20px;
    width: 73.6px;
    position: absolute;
    left: 5px;
    top: 10px;
}

.bulletGun {
    width: 200px;
    position: absolute;
    left: 85px;
    top: 0px;
}

.bullet {
    height: 30px;
}

.fa-heart {
    font-size: 28px;
    position: absolute;
    top: 0px;
    color: #CC0000;
}

.life i:first-child {
    left: 50%;
}

.life i:nth-child(2) {
    left: 52.5%;
}

.life i:nth-child(3) {
    left: 55%;
}

.chung {
    height: 110px;
    width: 90px;
    position: absolute;
    right: 50px;
    /* border: 1px solid red; */
}

.alertTheEnd {
    height: 400px;
    width: 600px;
    background-color: #FFCC00;
    position: absolute;
    left: 27%;
    top: 13%;
    z-index: 1000;
    display: none;
}

.tableSort {
    height: 400px;
    width: 600px;
    background-color: #FFFFCC;
    position: absolute;
    left: 27%;
    top: 13%;
    z-index: 2000;
    display: none;
    overflow: scroll
}

.alertTheEnd h2 {
    color: red;
    font-size: 52px;
    text-align: center;
}

.alertTheEnd strong {
    position: absolute;
    top: 30%;
    left: 32%;
    color: rgb(231, 49, 49);
    font-size: 32px;
}

.saveUser {
    position: absolute;
    top: 45%;
    left: 30%;
}

.saveUser label {
    color: green;
    font-size: 24px;
}

.save {
    position: absolute;
    top: 100%;
    left: 70%;
}

.choiLai {
    position: absolute;
    top: 100%;
    left: 35%;
}

.action {
    position: absolute;
    bottom: 50px;
    left: 42%;
    display: none;
}

.action button {
    color: black;
}


/* da roi */

.daRoi {
    height: 30px;
    width: 41.38px;
    position: absolute;
    top: 100px;
    /* border: 1px solid red; */
}

.heartDrop {
    position: absolute;
    top: 100px;
    /* border: 1px solid red; */
}

.total {
    height: 18px;
    width: 200px;
    position: absolute;
    top: 3px;
    border-radius: 10px;
    left: 45%;
    border: 1px solid red;
    overflow: hidden;
}

.detail {
    height: 18px;
    background-color: red;
    position: absolute;
    width: 100%;
}

.mana {
    font-size: 16px;
    font-weight: bold;
    position: absolute;
    left: 42%;
    color: red;
    margin-top: 1px;
    top: 0px;
}

.zoobie {
    position: absolute;
    bottom: 100px;
    z-index: 3000;
    height: 180px;
    width: 140px;
    /* border: 1px solid red; */
    right: 100px;
}

.virus {
    position: absolute;
    height: 20px;
    width: 20px;
    z-index: 3100;
}

.daLanh {
    position: absolute;
    top: 100px;
    z-index: 3000;
    height: 40px;
}